h1 {
  color: whitesmoke;
  padding: 5px 10px 5px 0px max-width 100%;
  text-align: start;
  font-size: 22px;
  font-weight: bold;
  display: inline;
  line-height: 28px;
  margin-block-start: 10px;
  margin-block-end: 0px;
}

h2 {
  font-size: 16px;
  padding: 5px 0px 5px 0px;
  max-inline-size: 100%;
  text-align: center;
  color: whitesmoke;
  margin: 0;

}

.calender {
  list-style-type: none;
  color: whitesmoke;
  text-align: start;
  display: inline;
  font-size: 10px;
  padding-inline-start: 10px;
  line-height: none;
  font-weight: bold;
  margin-block-start: 0px;
}

.forecast {
  list-style-type: none;
  color: whitesmoke;
  text-align: start;
  display: inline-block;
  font-size: 10px;
  padding-inline-start: 10px;
  line-height: none;
  font-weight: bold;
  margin-block-start: 0px;
}

col {
  color: rgba(31, 30, 30, 0.767);
  inline-size: 70%;
  font-size: 10px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  text-align: start;
  line-height: 1.2px;
  max-inline-size: 100%;
  position: relative;
  box-sizing: border-box;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5 {
  inline-size: 20%;
  line-height: 2;
  color: whitesmoke;
  text-align: center;
  position: relative;
  font-size: 12px;
  max-inline-size: 100%;
  padding: 3px;
  border-color: whitesmoke;
  border-radius: 10px;
}

.border {
  border: 10%;
  border-block-color: grey;
}

.container {
  background-image: radial-gradient(circle farthest-corner at 22.4% 21.7%, rgba(4, 189, 228, 1) 0%, rgba(2, 83, 185, 1) 100.2%);
  border-radius: 10px;
  padding: 60px 15px 10px;
  inline-size: 400px;
}

.temperature {
  font-size: 40px;
  position: relative;
  text-align: center;
  margin-block-start: 0px;
  color: whitesmoke;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

#tempC {
  font-size: 35px;
}

#tempF {
  font-size: 35px;
}

ul {
  margin: 0 0 10px;
  padding: 0;
  display: inline;
  list-style: none;
}