h1 {
    color: whitesmoke;
    padding: 5px 10px 5px 0px
    max-width: 100%;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    display: inline;
    line-height: 28px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
   h2 {
    font-size: 16px;
    padding: 5px 0px 5px 0px;
    max-width: 100%;
    text-align: center;
    color: whitesmoke;
    margin: 0;
  
  }
  .calender {
    list-style-type: none;
    color: whitesmoke;
    text-align: left;
    display: inline;
    font-size: 10px;
    padding-left: 10px;
    line-height: none;
    font-weight: bold;
    margin-top: 0px;
  }
  
  .forecast {
    list-style-type: none;
    color: whitesmoke;
    text-align: left;
    display: inline-block;
    font-size: 10px;
    padding-left: 10px;
    line-height: none;
    font-weight: bold;
    margin-top: 0px;
  }
  col {
    color: rgba(31, 30, 30, 0.767);
    width: 70%;
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    line-height: 1.2px;
    max-width: 100%;
    position: relative;
    box-sizing: border-box;
  }
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5 {
    width: 20%;
    line-height: 2;
    color: whitesmoke;
    text-align: center;
    position: relative;
    font-size: 12px;
    max-width: 100%;
    padding: 3px;
    border-block: whitesmoke;
    border-radius: 10px;
  }
  .border {
    border: 10%;
    border-block-color: grey;
  }
  .container {
    background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% );
    border-radius: 10px;
    padding: 60px 15px 10px;
    width: 400px;
  }
  .temperature {
    font-size: 40px;
    position:relative;
    text-align: center;
    margin-top: 0px;
    color: whitesmoke;
  }
  
  sup {
    vertical-align: super;
    font-size: smaller;
   }
  
   #tempC {
     font-size: 35px;
   }
   #tempF {
     font-size: 35px;
   }
  
   ul {
    margin: 0 0 10px;
    padding: 0;
    display: inline;
    list-style: none;
   }